.TH mrs 1 "03-jan-2013" "version 6.1" "USER COMMANDS"
.SH NAME
mrs \- A tool to build and manipulate a MRS 6 server and its data files
.SH SYNOPSIS
.TP
\fBmrs\fP \fIcommand\fP [\fIoptions\fP] [\fIargs\fP]
.SH OVERVIEW
MRS is a full text indexing toolkit. It is used to index large, text based
databanks containing biological or medical information.

Run `mrs help` to access the built-in tool documentation.

.SH INSTALLATION
Before using MRS the first time, you should set the administrator password
for the web application. You can do so by typing e.g.:

.B mrs password mrs-dba

This will prompt you for a password and store it in the \fBmrs-config.xml\fP
file. You can use then use this username/password combination to log in to
the admin pages.

.SH FILES
.TP
.B __MRS_ETC_DIR__/mrs-config.xml
file containing all the configuration details.
.TP
.B __MRS_DATA_DIR__/mrs
directory containing the MRS data files.
.TP
.B __MRS_DATA_DIR__/raw
directory containing a mirror of the raw data.
.TP
.B __MRS_DATA_DIR__/parsers
directory containing the MRS parser script.
.TP
.B __MRS_DATA_DIR__/docroot
directory containing HTML templates for the web server.
.TP
.B __MRS_DATA_DIR__/log
directory containing log files for the web server.
.TP
.B __MRS_DATA_DIR__/blast-cache
directory containing cached blast results.
.SH AUTHOR
Maarten L. Hekkelman (m.hekkelman (at) cmbi.ru.nl)
